In [1]:
#!/usr/bin/python3

#import pypyodbc
#import urllib
import urllib.request as urllib
import requests
import pickle
import numpy as np
import pandas as pd
#import mplfinance as mplf
#import csv
#import os 
from datetime import datetime

url="https://www.alphavantage.co/query?function=FX_INTRADAY&from_symbol=GBP&to_symbol=USD&interval=1min&outputsize=full&apikey=QRNX49EZGZKYUACF&datatype=csv"
response = requests.get(url)

ModuleNotFoundError: No module named 'mplfinance'

In [2]:
type(response.content)

bytes

In [3]:
from io import BytesIO

df = pd.read_csv(BytesIO(response.content))

In [4]:
df
df=df.assign(Currency= "GBPUSD")
df
df=df.assign(TimeFrame= "1Min")
df

,timestamp,open,high,low,close,Currency,TimeFrame
0,2022-11-02 14:30:00,1.14809,1.14845,1.14786,1.14842,GBPUSD,1Min
1,2022-11-02 14:29:00,1.14809,1.14833,1.14768,1.14824,GBPUSD,1Min
2,2022-11-02 14:28:00,1.14788,1.14831,1.14760,1.14822,GBPUSD,1Min
3,2022-11-02 14:27:00,1.14799,1.14803,1.14755,1.14788,GBPUSD,1Min
4,2022-11-02 14:26:00,1.14788,1.14804,1.14755,1.14798,GBPUSD,1Min
...,...,...,...,...,...,...,...
1435,2022-11-01 14:35:00,1.15084,1.15090,1.14992,1.15026,GBPUSD,1Min
1436,2022-11-01 14:34:00,1.15019,1.15090,1.14965,1.15084,GBPUSD,1Min
1437,2022-11-01 14:33:00,1.14952,1.15026,1.14918,1.15019,GBPUSD,1Min
1438,2022-11-01 14:32:00,1.14935,1.14985,1.14917,1.14951,GBPUSD,1Min
1439,2022-11-01 14:31:00,1.14972,1.14975,1.14897,1.14935,GBPUSD,1Min

In [5]:
type(response.headers)

requests.structures.CaseInsensitiveDict

In [6]:
type(response)

requests.models.Response

In [7]:
response.headers

{'Date': 'Wed, 02 Nov 2022 14:31:01 GMT', 'Content-Type': 'application/x-download', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Vary': 'Cookie', 'Content-Disposition': 'attachment; filename=fx_intraday_1min_GBP_USD.csv', 'Allow': 'GET, HEAD, OPTIONS', 'X-Frame-Options': 'SAMEORIGIN', 'Via': '1.1 vegur', 'CF-Cache-Status': 'DYNAMIC', 'Server-Timing': 'cf-q-config;dur=6.0000020312145e-06', 'Server': 'cloudflare', 'CF-RAY': '763d924739fb192c-EWR'}

In [10]:
df[['Date', 'Time']] = df['timestamp'].str.split(' ', expand=True)

In [11]:
df.head()

,timestamp,open,high,low,close,Currency,TimeFrame,Date,Time
0,2022-11-02 14:30:00,1.14809,1.14845,1.14786,1.14842,GBPUSD,1Min,2022-11-02,14:30:00
1,2022-11-02 14:29:00,1.14809,1.14833,1.14768,1.14824,GBPUSD,1Min,2022-11-02,14:29:00
2,2022-11-02 14:28:00,1.14788,1.14831,1.14760,1.14822,GBPUSD,1Min,2022-11-02,14:28:00
3,2022-11-02 14:27:00,1.14799,1.14803,1.14755,1.14788,GBPUSD,1Min,2022-11-02,14:27:00
4,2022-11-02 14:26:00,1.14788,1.14804,1.14755,1.14798,GBPUSD,1Min,2022-11-02,14:26:00