In [1]:
#!/usr/bin/python3

#import pypyodbc
#import urllib
import urllib.request as urllib
import requests
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import mplfinance as mpf
#from mplfinance import candlestick_ohlc
#import matplotlib.dates as mpdates
#import csv
#import os 
#from datetime import datetime

url="https://www.alphavantage.co/query?function=FX_INTRADAY&from_symbol=GBP&to_symbol=USD&interval=1min&outputsize=full&apikey=QRNX49EZGZKYUACF&datatype=csv"
response = requests.get(url)

In [2]:
type(response.content)

bytes

In [3]:
from io import BytesIO

df = pd.read_csv(BytesIO(response.content))
df_for_graph=df.assign(Volume = 0)

In [4]:
df
df=df.assign(Currency= "GBPUSD")
df
df=df.assign(TimeFrame= "1Min")
df

,timestamp,open,high,low,close,Currency,TimeFrame
0,2022-11-02 19:12:00,1.14707,1.14717,1.14697,1.14707,GBPUSD,1Min
1,2022-11-02 19:11:00,1.14759,1.14782,1.14681,1.14708,GBPUSD,1Min
2,2022-11-02 19:10:00,1.14840,1.14855,1.14710,1.14748,GBPUSD,1Min
3,2022-11-02 19:09:00,1.14804,1.14917,1.14780,1.14840,GBPUSD,1Min
4,2022-11-02 19:08:00,1.14680,1.14818,1.14652,1.14806,GBPUSD,1Min
...,...,...,...,...,...,...,...
1435,2022-11-01 19:17:00,1.14840,1.14840,1.14794,1.14826,GBPUSD,1Min
1436,2022-11-01 19:16:00,1.14830,1.14852,1.14799,1.14833,GBPUSD,1Min
1437,2022-11-01 19:15:00,1.14831,1.14836,1.14799,1.14832,GBPUSD,1Min
1438,2022-11-01 19:14:00,1.14826,1.14840,1.14796,1.14828,GBPUSD,1Min
1439,2022-11-01 19:13:00,1.14797,1.14833,1.14765,1.14828,GBPUSD,1Min

In [5]:
type(response.headers)

requests.structures.CaseInsensitiveDict

In [6]:
type(response)

requests.models.Response

In [7]:
response.headers

{'Date': 'Wed, 02 Nov 2022 19:12:20 GMT', 'Content-Type': 'application/x-download', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Allow': 'GET, HEAD, OPTIONS', 'Content-Disposition': 'attachment; filename=fx_intraday_1min_GBP_USD.csv', 'Vary': 'Cookie', 'X-Frame-Options': 'SAMEORIGIN', 'Via': '1.1 vegur', 'CF-Cache-Status': 'DYNAMIC', 'Server-Timing': 'cf-q-config;dur=7.0000005507609e-06', 'Server': 'cloudflare', 'CF-RAY': '763f2e5d3b158c6b-EWR'}

In [8]:
df[['Date', 'Time']] = df['timestamp'].str.split(' ', expand=True)

In [9]:
df.head()

,timestamp,open,high,low,close,Currency,TimeFrame,Date,Time
0,2022-11-02 19:12:00,1.14707,1.14717,1.14697,1.14707,GBPUSD,1Min,2022-11-02,19:12:00
1,2022-11-02 19:11:00,1.14759,1.14782,1.14681,1.14708,GBPUSD,1Min,2022-11-02,19:11:00
2,2022-11-02 19:10:00,1.14840,1.14855,1.14710,1.14748,GBPUSD,1Min,2022-11-02,19:10:00
3,2022-11-02 19:09:00,1.14804,1.14917,1.14780,1.14840,GBPUSD,1Min,2022-11-02,19:09:00
4,2022-11-02 19:08:00,1.14680,1.14818,1.14652,1.14806,GBPUSD,1Min,2022-11-02,19:08:00

In [10]:
mpf.plot(df_for_graph,type='candle')

TypeError: Expect data.index as DatetimeIndex

In [11]:
mpf.plot(df_for_graph)

TypeError: Expect data.index as DatetimeIndex