In [5]:
import sqlite3
conn = sqlite3.connect('challenge3.db')
print("Opened database successfully")
conn.execute('''CREATE TABLE IF NOT EXISTS THURSDAY
 (ID INT PRIMARY KEY     NOT NULL,
 BAND           TEXT    NOT NULL,
 HOMETOWN            TEXT     NOT NULL,
 Year        INT 
 );''')
print("Table created successfully")

Opened database successfully
Table created successfully

In [7]:
conn.execute("INSERT INTO THURSDAY (ID,BAND,HOMETOWN,YEAR) VALUES (1, 'The Beatles', 'Liverpool, England', 1960 );")
conn.execute("INSERT INTO THURSDAY (ID,BAND,HOMETOWN,YEAR) VALUES (2, 'Guns and Roses',  'Los Angeles, USA', 1985 );")
conn.execute("INSERT INTO THURSDAY (ID,BAND,HOMETOWN,YEAR) VALUES (3, 'Agnee', 'Pune, India', 2007 );")

IntegrityError: UNIQUE constraint failed: THURSDAY.ID

In [10]:
chris=conn.execute("Select * From THURSDAY;")
chris

In [4]:
conn.close()