In [2]:
heroes= {
   "name": ["Wonder Woman", "Batman", "Superman"],
   "alterego": ["Diana Prince", "Bruce Wayne", "Clark Kent"],
   "power": ["lasso of truth", "money", "super strength"]
}

In [3]:
import pandas as pd
herodf= pd.DataFrame(heroes)
herodf

           name      alterego           power
0  Wonder Woman  Diana Prince  lasso of truth
1        Batman   Bruce Wayne           money
2      Superman    Clark Kent  super strength

In [6]:
herodf["power"]

0    lasso of truth
1             money
2    super strength
Name: power, dtype: object

In [7]:
herodf[[ "name", "alterego"]]

           name      alterego
0  Wonder Woman  Diana Prince
1        Batman   Bruce Wayne
2      Superman    Clark Kent

In [9]:
herodf.iloc[[1,2]]

       name     alterego           power
1    Batman  Bruce Wayne           money
2  Superman   Clark Kent  super strength

In [10]:
herodf.iloc[[1,2],2]

1             money
2    super strength
Name: power, dtype: object

In [14]:
herodf.iloc[[0,1],1]

0    Diana Prince
1     Bruce Wayne
Name: alterego, dtype: object

In [15]:
herodf2=herodf.set_index("name")

In [17]:
herodf2.loc[["Wonder Woman", "Superman"],"power"]

name
Wonder Woman    lasso of truth
Superman        super strength
Name: power, dtype: object