In [1]:
# python3 -m pip install pandas
import pandas as pd

In [2]:
ciscocsv = pd.read_csv("ciscodata.csv")
ciscojson = pd.read_json("ciscodata2.json")

In [3]:
# display first 5 entries of the ciscocsv dataframe
ciscocsv.head()

       device      serial             ip     region firmware
0    ciscoios  C8293-928F   192.168.70.1  northeast    v14.6
1  ciscoiosxr  A7392-123D       10.0.0.1  northeast     v1.2
2  ciscoiosxe  C8233-593A     172.6.2.11  southwest     v3.2
3   cisconxos  B1122-938A     172.4.2.11      south     v1.2
4    ciscoios  C2832-23dB  192.168.102.1       west    v14.6

In [4]:
ciscodf = pd.concat([ciscocsv, ciscojson])
# uncomment the line below to "fix" the index issue
# ciscodf = pd.concat([ciscocsv, ciscojson], ignore_index=True, sort=False)
    
ciscodf

       device      serial             ip     region firmware
0    ciscoios  C8293-928F   192.168.70.1  northeast    v14.6
1  ciscoiosxr  A7392-123D       10.0.0.1  northeast     v1.2
2  ciscoiosxe  C8233-593A     172.6.2.11  southwest     v3.2
3   cisconxos  B1122-938A     172.4.2.11      south     v1.2
4    ciscoios  C2832-23dB  192.168.102.1       west    v14.6
0  ciscoiosxr  C9878-323F       10.3.3.1       west     v1.2
1  ciscoiosxr  C7673-664E      10.66.7.1      north     v1.2

In [ ]:
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html under, "Ignoring indexes on the concatenation axis".