In [4]:
import sqlite3
conn = sqlite3.connect('challenge.db')
print("Opened database successfully")
conn.execute('''CREATE TABLE IF NOT EXISTS THURSDAY
 (ID INT PRIMARY KEY     NOT NULL,
 BAND           TEXT    NOT NULL,
 HOMETOWN            TEXT     NOT NULL,
 Year        INT 
 );''')
print("Table created successfully")

Opened database successfully

OperationalError: database is locked

In [3]:
conn.execute("INSERT INTO THURSDAY (ID,BAND,HOMETOWN, YEAR) VALUES (1, 'The Beatles', 'Liverpool, England', 1960 )")
conn.execute("INSERT INTO THURSDAY (ID,BAND,HOMETOWN, YEAR) VALUES (2, 'Guns and Roses',  'Los Angeles, USA', 1985 )")
conn.execute("INSERT INTO THURSDAY (ID,BAND,HOMETOWN, YEAR) VALUES (3, 'Agnee', 'Pune, India', 2007 )")

In [5]:
conn.execute("Select * From THURSDAY")

OperationalError: no such table: THURSDAY

In [ ]:
conn.close()